.center
    display: flex
    justify-content: center
    align-items: center
    height: 100vh

.image
    background-size: cover
    background-position: center
    background-repeat: repeat

.cae-card
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)
    transition: 0.3s
    width: 40%

.cae-card:hover
    box-shadow: 0 8px 16px 0 #ffffff

.container
    padding: 2px 16px

.nav
    font-size: 1.5em
    padding: 1rem
    color: #ffffff
    font-style: italic

.border
    // display: none
    border-top-left-radius: 5px
    border-top-right-radius: 5px
    border-bottom-left-radius: 0px
    border-bottom-right-radius: 0px
    max-height: 100%

.card
    background-color: #EE1B22
    transition: 0.3s
    border-radius: 10px
    @media (min-width: 1024px)
        max-width: 36rem/* 576px */

.link
    padding-bottom: 2px

.text
    @media (min-width: 640px)
        font-size: 0.75rem/* 12px */
        line-height: 1rem/* 16px */
    @media (min-width: 1024px)
        font-size: 1.125rem/* 18px */
        line-height: 1.75rem/* 28px */
    @media (min-width: 640px)
        padding: 2.5rem/* 40px */
    @media (min-width: 1024px)
        padding: 1.25rem/* 20px */
